.input {
    width: 100%;
    padding: 15px 20px;
    background-color: rgb(234, 228, 220);
    border-radius: 15px;
    margin-top: 20px;

        &:focus {
            box-shadow: 0px 0px 5px 4px rgb(222, 163, 137);
        }
}